@{
    ViewData["Title"] = "Home";
}

<section id="main-container" class="main-container">
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <h3 class="column-title">Website Under Maintenance</h3>
                <p>We are currently performing scheduled maintenance to improve our services. Please check back soon!</p>
                <blockquote style="width: fit-content;" class="mx-auto px-5">
                    <p class="mx-4">Thank you for your patience and understanding.</p>
                </blockquote>
            </div>
        </div>
    </div>
</section>
