@page
@model LoginModel
@{
    ViewData["Title"] = "Log in";
}

<section id="main-container" class="main-container">
    <div class="container">
        <div class="row text-center mb-0">
            <div class="col-12">
                <h2 class="section-title">Account</h2>
                <h3 class="section-sub-title mb-0">Login</h3>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-12">
                <form id="loginForm" method="post">
                    @Html.AntiForgeryToken()
                    <div class="error-container"></div>
                    <div class="form-group">
                        <label>Email</label>
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" placeholder="Email" type="email" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" placeholder="Password" type="password" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                        <button class="btn btn-primary solid blank" type="submit">Login</button>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
