@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<section id="main-container" class="main-container">
    <div class="container">

        <div class="row text-center mb-0">
            <div class="col-12">
                <h2 class="section-title">Account</h2>
                <h3 class="section-sub-title mb-0">Register</h3>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-12">
                <form id="registerForm" method="post" role="form">
                    @Html.AntiForgeryToken()
                    <div class="error-container"></div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>Email</label>
                                <input asp-for="Input.Email" class="form-control form-control-email" placeholder="Email" type="email" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>Password</label>
                                <input asp-for="Input.Password" class="form-control" placeholder="Password" type="password" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>Confirm Password</label>
                                <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirm Password" type="password" />
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                        <button class="btn btn-primary solid blank" type="submit">Register</button>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
