@model ProductCategory

@{
    ViewData["Title"] = "Delete Product Category";
}

<section id="main-container" class="main-container">
    <div class="container">
        <form asp-route-id="@Model.Id" asp-controller="ProductCategory" asp-action="Delete" method="post" enctype="multipart/form-data" role="form" class="mt-0">
            <div class="row text-center mb-0">
                <div class="col-12 mb-0">
                    <h2 class="section-title">Are you sure you want to delete the category? @Model.Title</h2>
                    <h3 class="section-sub-title mb-0">Delete Category</h3>
                </div>
            </div>

            @Html.AntiForgeryToken()
            <div class="d-flex justify-content-center mt-4">
                <button class="btn btn-primary" type="submit">Delete</button>
                <a asp-controller="Admin" asp-action="ProductCategories">
                    <button class="btn btn-primary ml-2" type="button">Back</button>
                </a>
            </div>
        </form>
    </div><!-- Container end -->
</section><!-- Main container end -->
