@model ProductCategory

@{
    ViewData["Title"] = "Update Product Category";
}

<section id="main-container" class="main-container">
    <div class="container">

        <div class="row text-center mb-0">
            <div class="col-12 mb-0">
                <h2 class="section-title">Product Categories</h2>
                <h3 class="section-sub-title">Update A New Category</h3>
            </div>
        </div>
        <!--/ Title row end -->

        <div class="row mt-0">
            <div class="col-md-12">
                <form id="Update-category-form" asp-controller="ProductCategory" asp-action="Update" method="post" enctype="multipart/form-data" role="form">
                    @Html.AntiForgeryToken()
                    <div class="error-container"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Upload Cover Image</label>
                                <input asp-for="ImagePath" class="form-control form-control-name" type="file" accept="image/*" name="imageFile" />
                                <span asp-validation-for="ImagePath" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Title</label>
                                <input asp-for="Title" class="form-control form-control-name" placeholder="Enter your title" type="text" />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea class="form-control form-control-message" asp-for="Description" placeholder="Enter your Description" rows="10"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="text-right">
                        <br>
                        <button class="btn btn-primary solid blank" type="submit">Update</button>
                    </div>
                </form>
            </div>
        </div>

    </div><!-- Container end -->
</section><!-- Main container end -->
